* {
  box-sizing: border-box;
}

.div-container {
  width: 1100px;
  height: 470px;
  margin: 60px auto 60px auto;
  display: flex;
  justify-content: space-between;
}

.div-forca {
  width: 400px;
}

.div-forca img {
  width: 400px;
}

.div-palavra {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: end;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
}

.div-palavra button {
  width: 200px;
  height: 60px;
  margin-top: 30px;
  background-color: #27AE60;
  border-radius: 8px;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.div-palavra p {
  font-family: 'Noto Sans', sans-serif;
  font-size: 50px;
  font-weight: 700;
}

.div-letras {
  width: 680px;
  margin: auto auto;
  display: flex;
  flex-wrap: wrap;
}

.letters {
  display: flex;
  flex-wrap: wrap;
}

.letters button {
  width: 40px;
  height: 40px;
  margin: 6px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  align-items: center;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #7AA7C7;
  cursor: pointer;
}

.disactivated {
  background: #9FAAB5;  
  color: #798A9F;
}

.activated {
  background: #E1ECF4;
  color: #39739D;
}

.hidden {
  display: none;
}

.ganhou {
  color: #27AE60;
}

.perdeu {
  color: #FF0000;
}

.div-chute {
  width: 630px;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  margin: 40px auto;
  display: flex;
}

.div-chute p {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.div-chute input {
  width: 350px;
  height: 40px;
  border: 1px solid #CCCCCC;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  font-family: 'Roboto';
  font-size: 20px;
  padding-left: 10px;
}

.div-chute button {
  width: 100px;
  height: 40px;
  border: 1px solid #7AA7C7;
  border-radius: 3px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}

.disactivated {
  background: #9FAAB5;
  color: #798A9F;
}

.activated {
  background: #E1ECF4;
  color: #39739D;
}